#learn{
	background-color: #524bb9;
	border-color: #FFFFFF;
}

#heading, #header{
	color: #FFFFFF;
}

.jumbotron{
	background-image: url("images/wallpaper.jpg");
}

.btn-default{
	background-color: #524bb9;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

#avatar{
	border-radius: 1000px;
}